{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="col-sm-5" style="background-color: lightgray; margin: auto; border: 3px solid gray;
padding: 30px;  margin-top: 20px;">
  <h2>Enter credentials to login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-secondary">Log In</button><br>
    <hr>
    Forgot Password? <a href="{% url 'password_reset' %}">Reset Password</a>
  </form>
</div>
{% endblock %}