{% extends 'base.html' %}

{% block title %}Password Reset{% endblock %}

{% block content %}

<br>
<div class="alert alert-warning" role="alert" style="width:80%; margin:auto;">
    Forgot your password? Enter your email address below, and we’ll email instructions for setting a new one.
</div>

<br>
<center>
<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <div class="form-row field-email">
        {{ form.email.errors }}
        <label for="id_email">Email address:</label>
        {{ form.email }}
    </div>
    <br>
    <input type="submit" value="Reset my password" class="btn btn-primary active">
</fieldset>
</form>
</center>
{% endblock %}