{% extends 'base.html' %}

{% block title %}Password reset{% endblock %}

{% block content %}

{% if validlink %}

<br>
<div class="alert alert-warning" role="alert" style="width:80%; margin:auto; text-align: center;">
    Please enter your new password twice so we can verify you typed it in correctly.
</div>
<br>
<center> 
<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
    <br>
    <br>
    <div class="form-row field-password1">
        {{ form.new_password1.errors }}
        <label for="id_new_password1">New password:</label>
        {{ form.new_password1 }}
        <br>
        <br>
    </div>
    <div class="form-row field-password2">
        {{ form.new_password2.errors }}
        <label for="id_new_password2">Confirm password:</label>
        {{ form.new_password2 }}
    </div>
    <br>
    <input type="submit" value="Change my password" class="btn btn-primary active" >
</fieldset>
</form>
</center>
{% else %}
<br>
<div class="alert alert-danger" role="alert" style="width:80%; margin:auto; text-align: center;">
    The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.
</div>


{% endif %}

{% endblock %}