  /*Position and style for the sidebar*/
          
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    /*Stays in place */
    background-color: lightgray;
    /*green*/
    overflow-x: hidden;
    /*for Disabling horizontal scroll */
}
/* Position and style for the sidebar links */
  
.sidebar a {
    padding: 10px 10px 10px;
    font-size: 25px;
    color: #111;
    display: block;
    transition: 0.3s;
}
/* the links change color when mouse hovers upon them*/
  
.sidebar a:hover {
    color: #FFFFFF;
}
/* Position and style the for cross button */
  
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
}
/* Style for the sidebar button */
  


.bar1{
width: 35px;
height: 5px;
background-color: white;
margin: 6px 0;
}

/* pushes the page content to the right
when you open the side navigation */
  
#main {
    transition: margin-left .5s;
    /* If you want a transition effect */
    padding: 10px;
}


