{% extends 'mainpage.html' %}

{% block title %} {{ relation.coursename }} {% endblock %}

{% block content %}
{% if user.is_authenticated and user == request.user %}
<div id="main">
<h1>{{course.name}}</h1>
<h3>{{course.code}}</h3>
<hr>
{% if relation.is_teacher %}
<h4><a href="{% url 'add_assign' name=course.name %}">Create Assignment</a></h4>
{% endif %}

{% for assignment in assignments %}
    <hr>
    <div class="card-body">
      <h5 class="card-title">Due by {{assignment.deadline}}</h5>
      <p class="card-text">{{assignment.prob_description}}</p>
      <a href="{{ assignment.problemfile.url }}" download>Problem statement</a><br>
      <a href="{% url 'view_assign' name=course.name id=assignment.pk %}">View Assignment</a>
    </div>
  
{% endfor %}
<hr>

{% if relation.is_teacher %}
<div class="card" style="width: 90rem; float:left; margin: auto; border: 3px solid gray;">
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h5>Upload new lecture</h5>
        {{ form.as_p }}
        <input type="submit" value="Upload" name="Upload">
        </form>
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><h3>Lectures:</h3><br>
{% endif %}
{% if relation.is_student %}<h3>Lectures:</h3>
{% for lecture in lectures %}
    <hr>
    <div class="card-body">
      <h5 class="card-title">{{lecture.0.title}}</h5>
      <p class="card-text">{{lecture.0.description}}</p>
      <a href="{{ lecture.0.lecturenotes.file.url }}" download>Lecture Notes</a>
      {% if lecture.1 %}
      <form method="post" action="{% url 'course_page' name=course.name lecture_num=lecture.0.pk%}">
        {% csrf_token %}
        <input type="submit" name="lec_completed" value="Press to Undo">
      </form>
      {% else %}
      <form method="post" action="{% url 'course_page' name=course.name lecture_num=lecture.0.pk%}">
        {% csrf_token %}
        <input type="submit" name="lec_incomplete" value="Lecture Done">
      </form>
      {% endif %}
    </div>
  
{% endfor %}
{% endif %}
<hr>

{% if relation.is_teacher %}
{% for lecture in lectures %}
    <hr>
    <div class="card-body">
      <h5 class="card-title">{{lecture.0.title}}</h5>
      <p class="card-text">{{lecture.0.description}}</p>
      <a href="{{ lecture.0.lecturenotes.file.url }}" download>Lecture Notes</a>
      </form>
    </div>
  
{% endfor %}
{% endif %}
</div>
{% else %}
<div class="alert alert-danger" role="alert" style="margin-left: 20%; margin-top: 20px;">
    Invalid Access Attempt!
  </div>
{% endif %}
{% endblock %}