{% extends 'mainpage.html' %}

{% block title %}Members{% endblock %}

{% block content %}
{% if user.is_authenticated and user == request.user%}
<div id="main">

{% for message in all_messages %}
  

    {% if message.sender == request.user %}

    <div class="col-sm-15" style="background-color: white; margin: auto; border: 3px solid gray;
  padding: 30px;  margin-top: 20px; margin-bottom:20px; text-align: center; float:right; width:80%;">
    <p style="float:right;">You</p>
    <p style="float:left;">{{ message.sent_at }}</p>
    <br>
    <hr>
    <p style="text-align:right;">
      {{ message.content }}<br>
    </p>
</div>



    {% elif message.receiver == request.user %}
    <div class="col-sm-15" style="background-color: lightgray; margin: auto; border: 3px solid gray;
  padding: 30px;  margin-top: 10px; margin-bottom:20px; text-align: center; float:left; width:80%;">
    <p style="float:left;">{{ message.sender }}</p>
    <p style="float:right;">{{ message.sent_at }}</p>
    <br>
    <hr>
    <p style="text-align:left;">
      {{ message.content }}<br>
      
    </p>
    </div>
    
    {% endif %}


{% endfor %}

{% if allow_dms %}
<form method="post" style="text-align:right; margin:30px; padding: 30px;">
    
  {% csrf_token %}
  {{ form }}
  <input type="submit" class="btn btn-primary active" value="Send">
</form>
{% endif %}


</div>
{% else %}
<div class="alert alert-danger" role="alert" style="margin-left: 20%; margin-top: 20px;">
    Invalid Access Attempt!
  </div>
{% endif %}
{% endblock %} 