{% extends 'mainpage.html' %}

{% block title %}Members{% endblock %}

{% block content %}
{% if user.is_authenticated and user == request.user%}
<div id="main">

{% for message in all_messages %}
  <div class="col-sm-15" style="background-color: lightgray; margin: auto; border: 3px solid gray;
  padding: 30px;  margin-top: 20px; text-align: center;">
    {% if message.sender == request.user %}
      <p align="right">{{ message.content }}</p>
      <p align="right">{{ message.sent_at }}</p>
    {% elif message.receiver == request.user %}
      <p align="left">{{ message.content }}</p>
      <p align="left">{{ message.sent_at }}</p>
    {% endif %}
  </div>
{% endfor %}

<br><br>

<form method="post">
  {% csrf_token %}
  {{ form }}
  <input type="submit" value="Send">
</form>

</div>
{% else %}
<div class="alert alert-danger" role="alert" style="margin-left: 20%; margin-top: 20px;">
    Invalid Access Attempt!
  </div>
{% endif %}
{% endblock %} 