{% extends 'mainpage.html' %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
{% if current_user.is_authenticated and current_user == request.user%}  <!--dhvanit-->
<div id="main">
    <div class="jumbotron" style="margin:30px;">
        {% if current_user == user %} <!--dhvanit-->
          <h1 class="display-4">Hello, {{ user.first_name }} {{user.last_name}}</h1>
        {% endif %} <!--dhvanit-->
        <h2>User Details</h2>
        {% if current_user != user %} <!--dhvanit-->
          <a href="{% url 'direct_message' username=user.username %}">Direct Message</a>
        {% endif %} <!--dhvanit-->
        <h4>Username: {{ user.username }}</h4>
        <h4>Email-id: {{ user.email }} </h4>
        {% if current_user == user %} <!--dhvanit-->
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'updateProfile' %}" role="button">Edit Profile</a>
          </p>  <!--dhvanit-->
        {% endif %}
        <hr class="my-4">
        <h2>Course Details</h2>
        <h3>Teaching Courses</h3> <!--dhvanit-->
        {% for course in teacher_courses %}
        <a href="{% url 'course_page' name=course.name %}">{{course.code}}: {{course.name}}</a><br>
        {% endfor %}
        <h3>Registered for Courses</h3> <!--dhvanit-->
        {% for course in learner_courses %}
        <a href="{% url 'course_page' name=course.name %}">{{course.code}}: {{course.name}}</a><br>
        {% endfor %}
      </div>
</div>
{% else %}
<div class="alert alert-danger" role="alert" style="margin-left: 20%; margin-top: 20px;">
    Invalid Access Attempt!
  </div>
{% endif %}
{% endblock %}