{% extends 'mainpage.html' %}

{% block title %}Add Course{% endblock %}

{% block content %}
{% if user.is_authenticated and user == request.user%}
<div id="main">
<div  style="background-color: lightgray; margin: auto; border: 3px solid gray; text-align: center; width:600px; padding:2%; position: fixed;">
<form method="post">
{% csrf_token %}
<h3>Register for course</h3>
{{ form.as_p }}
<input type="submit" value="Submit">
</form>
</div>
{% else %}
<div class="alert alert-danger" role="alert" style="margin-left: 20%; margin-top: 20px;">
    Invalid Access Attempt!
  </div>
</div>
{% endif %}
{% endblock %}