{% extends 'mainpage.html' %}

{% block title %}Update Profile{% endblock %}

{% block content %}
{% if user.is_authenticated and user == request.user%}
<div id="main">
<h1>Update Profile</h1>
<a href="{% url 'change_password' %}" class="btn btn-danger active" role="button" aria-pressed="true">Change Password</a>
    <br>
<br>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}> <h4 class="alert alert-success" role="alert" style="width:30%; margin-top: 20px;">{{ message }} </h4></li>
    {% endfor %}
</ul>
{% endif %}
<div class = "form-group">
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-secondary">Save Changes</button>     
    </form>
    <br>
    <a href="{% url 'profile_page' username=request.user.username %}"> &lt;&lt; Go back to your profile</a>
</div>
</div>
{% else %}
<div class="alert alert-danger" role="alert" style="margin-left: 20%; margin-top: 20px;">
    Invalid Access Attempt!
  </div>
{% endif %}
{% endblock %}