{% extends 'mainpage.html' %}

{% block title %}Add Course{% endblock %}

{% block content %}
{% if user.is_authenticated and user == request.user %}
<div id="main">
    <div class="col-sm-9" style="background-color: lightgray; margin: auto; border: 3px solid gray;
padding: 30px;  margin-top: 20px; text-align: center;">

        <h4>Published on {{ assignment.start_time }}</h4>
        <h4>Due by {{ assignment.deadline }}</h4>
        <p>{{ assignment.prob_description }}</p>
        <a href="{{ assignment.problemfile.url }}" download>Problem statement</a>
        <br><br>

        {% if relation.is_student %}
        {% for solution in solutions %}
        <a href="{{ solution.solutionfile.url }}" download>
        <button class="btn btn-success active" role="button" style="width:20%"><i class="fa fa-download"></i> Download your submission</button>
        </a>
        {% endfor %}
        <br><br>
        {% if not past_deadline%}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
        {% endif %}
        <br>
        {% for solution in solutions %}
        <h5>Feedback on submission:</h5>
        <p>{{ solution.solutionfeedback.feedback }}</p>
        <h5>Marks Obtained:</h5>
        <p>{{ solution.solutionfeedback.marks_obtained }}</p>
        {% endfor %}
        {% endif %}

        {% if relation.is_teacher %}
        <h5>Submissions:</h5>
        {% for solution in solutions %}
        <form method="post">
            {% csrf_token %}
            <a href="{{ solution.solutionfile.url }}" download>{{solution.student}}: </a>
            {{ form }}
            <input type="submit" value="Submit" name="{{ solution.student.pk }}">
        </form>
        <br>
        <h5>Feedback on submission:</h5>
        <p>{{ solution.solutionfeedback.feedback }}</p>
        <h5>Marks Obtained:</h5>
        <p>{{ solution.solutionfeedback.marks_obtained }}</p>
        <br>
        {% endfor %}
        <br><br>
        <a href="" onclick="downloadAll()" class="btn btn-success active" role="button" style="width:20%"><i class="fa fa-download"></i> Download all submissions</a>
        <br><br>
        <a href="{% url 'upload_csv' name=course.name id=assignment.pk %}" class="btn btn-primary active" role="button"
            aria-pressed="true">Upload CSV</a>
        <br><br>
        {% endif %}

    </div>
</div>
{% else %}
<div class="alert alert-danger" role="alert" style="margin-left: 20%; margin-top: 20px;">
    Invalid Access Attempt!
</div>
{% endif %}
<script>
    function download(link) {
        var element = document.createElement('a');
        element.setAttribute('href', link);
        element.setAttribute('download', link);
        element.style.display = 'none';
        document.body.appendChild(element);
        element.click();
        document.body.removeChild(element);
    }
    var links = JSON.parse("{{ json_links|escapejs }}");
    function downloadAll() {
        for (var x in links) {
            download(links[x]);
        }
    }
</script>
{% endblock %}