{% extends 'mainpage.html' %}

{% block title %}Add Course{% endblock %}

{% block content %}
{% if user.is_authenticated and user == request.user%}
<div id="main">
<div class="col-sm-9" style="background-color: lightgray; margin: auto; border: 3px solid gray;
padding: 30px;  margin-top: 20px; text-align: center;">

<h4>Published on {{ assignment.start_time }}</h4>
<h4>Due by {{ assignment.deadline }}</h4>
<p>{{ assignment.prob_description }}</p>
<a href="{{ assignment.problemfile.url }}" download>Problem statement</a>
<br><br>

{% if relation.is_student %}
    {% for solution in solutions %}<a href="{{ solution.solutionfile.url }}" download>Download your submission</a>{% endfor %}
    <br><br>
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
    </form>
    <br>
    <h5>Feedback on submission:</h5>
    {% for solution in solutions %}<p>{{ solution.solutionfeedback.feedback }}</p>{% endfor %}
{% endif %}

{% if relation.is_teacher %}
    <h5>Submissions:</h5>
    {% for solution in solutions %}
        <form method="post">
            {% csrf_token %}
            <a href="{{ solution.solutionfile.url }}" download>{{solution.student}}: </a>
            {{ form }}
            <input type="submit" value="Submit" name="{{ solution.student.pk }}">
        </form>
        <br>
        <p>{{ solution.solutionfeedback.feedback }}</p>
        <br>
    {% endfor %}
    <br><br>
    <a href=""  onclick="downloadAll()">Download All</a>
    <br><br>
    <a href="{% url 'upload_csv' name=course.name id=assignment.pk %}" class="btn btn-danger active" role="button" aria-pressed="true">Upload CSV</a>
    <br><br> 
{% endif %}

</div>
</div>
{% else %}
<div class="alert alert-danger" role="alert" style="margin-left: 20%; margin-top: 20px;">
    Invalid Access Attempt!
  </div>
{% endif %}
<script>
    function download(link) {
        var element = document.createElement('a');
        element.setAttribute('href', link);
        element.setAttribute('download',link);
        element.style.display = 'none';
        document.body.appendChild(element);
        element.click();
        document.body.removeChild(element);
    }
    var links = JSON.parse("{{ json_links|escapejs }}");
    function downloadAll() {
        for (var x in links){
            download(links[x]);
        } 
    }
</script>
{% endblock %}